*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

.fas {
    position: absolute;
    font-size: 300px;
    color: grey;
}

.fas:hover {
    cursor: pointer;
    color: black;
}

.fa-angle-left {
    left: 10px;
}

.fa-angle-right {
    right: 10px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    position:fixed;
    left: 100%;
    transform: translateX(-100%);
}

.nav-links li {
    list-style: none;
    padding: 25px;
}

.nav-links li:nth-child(1) {
    background-color: black;
}

.nav-links li:hover{
    background-color: black;
    cursor: pointer;
}


.nav-links li a{
    text-decoration: none;
}

.nav-links li:hover{
    text-decoration: white;
}

.nav-links li:nth-child(1) a{
    color: white;
}

.Cwhite {
    color: white;
}

.Cblack {
    color: black;
}

.description {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    margin-bottom: 10px;
}

.resume {
    margin-top: 10px;
}

.resume-link {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.iconos i {
    margin: 15px;
    font-size: 25px;
    color: grey;
}

.iconos i:hover {
    cursor: pointer;
    color: black;
}

.iconos i:nth-child(1) {
    color: black;
}

.projects {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 800px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}



.contact {
    height: calc(100vh - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px;
}

.contact div form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.controls {
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 5px;
}

#mensaje {
    border-bottom: none;
}

.botons {
    border: none;
    padding: 5px;
}

.botons:hover {
    cursor: pointer;
}

footer {
    height:60px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: white;
    padding: 15px;
}

.red {
    border-bottom: 2px solid red;
}

.green {
    border-bottom: 2px solid green;
}

@media (max-width: 700px) {
    .hamburguer {
        height: 30px;
        width: 30px;
        background-color: grey;
    }

    .hamburguer:hover {
        cursor: pointer;
        background-color: black;
    }

    .line {
        background-color: white;
        height: 5px;
        width: 30px;
        margin-top: 5px;
    }

    .nav-links {
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        align-items:center;
        justify-content: space-around;
        background-color: white;
        position: absolute;
    }

    .menuVisible {
        left: 100%;
    }

    .menuInvisible {
        left: 0%;
    }

    .nav-links li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10vh;
    }

    .description {
        font-size: 12px;
    }

    .iconos i {
        margin: 12px;
        font-size: 20px;
        color: grey;
    }
    
    .projects {
        background-size: 300px;
    }

    .fas {
        font-size: 70px;
        }

        .fa-angle-left {
            left: 5px;
        }
        
        .fa-angle-right {
            right: 5px;
        }

        .contact {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

}